/* .slot{
    width: 100px;
    height: 44px;
    float: left;
    margin-right: 2px;
    margin-left:10px;
    display: table;
    position: relative;
    border-radius:6px;
    box-shadow:0 0px 2px #bbb;

}
.slot:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.slot:hover{
    
    background-color:rgba(0, 0, 0, 0.04);
}


.slot span{
    height:inherit;
    vertical-align: middle;
    display:table-cell;
}
[type="radio"]:checked + .slot:before{
    box-shadow:0 0px 2px tomato;
}
.slot:checked {
    color: #000;
    background-color: #000;
    box-shadow:inset 0 0px 24px #7caa39;
  }
.slot:disabled:after {
    background-color: #eee;
    box-shadow: none; 
  }
.slot input{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */
